:root {
    --dark: #374151;
    --darker: #1F2937;
    --darkest: #111827;
    --grey: #6B7280;
    --pink: #EC4899;
    --purple: #8B5CF6;
    --light: #EEE;
    --blue: #0aa3f1;

}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Fira sans", sans-serif;
}


header {
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    text-align: right; /* Alinear todo a la derecha */
    background-color: black; /* Fondo negro para la navbar */
}

header { 
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--grey);
    margin-bottom: 1rem;
}

nav {
    margin-bottom: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end; /* Alinear elementos a la derecha */
    padding: 0; /* Eliminar padding por defecto */
}

nav ul li {
    margin-left: 2rem; /* Espaciado entre los elementos de la lista */
}

nav a {
    color: var(--grey);
    text-decoration: none;
    font-size: 1.125rem;
}

.profile-pic {
    width: 40px; /* Ajusta el tamaño de la imagen de perfil */
    height: 40px;
    border-radius: 50%; /* Redondear la imagen */
}

#add-task-button {
    margin-bottom: 1rem;
    background-color: var(--blue);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.hidden {
    display: none; /* Ocultar el formulario por defecto */
}

main {
    flex: 1 1 0%;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
}

h1, h2{
    color:#111827;
}

/* Botones generales */
button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: var(--blue); /* Color de fondo común */
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Efecto hover */
button:hover {
    background-color: var(--purple); /* Color al pasar el mouse */
}

/* Estilos específicos para el botón Edit */
.task .actions .edit {
    background-color: var(--grey); /* Azul claro */
    color: black; /* Color de texto */
}

/* Estilos específicos para el botón Delete */
.task .actions .delete {
    background-color: #ec2f2f; /* Rojo claro */
    color: black; /* Color de texto */
}

#new-task-form {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

#new-task-input,
#start-date,
#end-date,
#role-select {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid var(--grey);
    background-color: var(--darker);
    color: var(--light);
}

.task-list {
    padding: 1rem;
}

.task-list h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--grey);
    margin-bottom: 1rem;
}

#tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: var(--darkest);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.task .content {
    flex: 1 1 0%;
}

.task .content .text {
    color: var(--light);
    font-size: 1.125rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}

.task .actions {
    display: flex;
    margin: 0 -0.5rem;
}

.task .actions button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}

.task .actions button:hover {
    opacity: 0.8;
}

.task .actions button:active {
    opacity: 0.6;
}
